.wrapper {
    text-align: center;
    margin-bottom: 30px;
}

.question {

    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;

}

.container {
    font-size: 18px;
    margin-bottom: 30px;
}

input[type="radio"] {
    margin-right: 3px;
    margin-left: 12px;
}

.panel {
    font-size: 30px;
    color: forestgreen;
}