body {
    background: url(../images/datawall.jpg)
    no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;;
}

.question {

    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;

}

.container {
    font-size: 18px;
    margin: 0;
    padding: 0;
    width: 100%;
}

input[type="radio"] {
    margin-right: 3px;
    margin-left: 12px;

}

#timer {
    font-size: 28px;
    color: forestgreen;
}